#container {
    display: flex;
    width: auto;
    height: 720px;
    border: solid #D1D1D1;
}

/* THIS IS FOR LEFT SECTION OF THE WEBSITE */
#left-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 5px;
    width: 20%;
    height: auto;
    background-color: #002A04;
}

/* THIS SI FOR THE PARENT CONTAINER OF LOGO  */
.P-logo {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
    padding-left: 45px;
    width: auto;
    height: auto;
    
}

/* STYLING FOR THE MANUE BAR IN THE LEFT SECTION */
.P-manue-bar {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: auto;
    height: auto;
}

/* THIS STYLING IS FOR ALL OF THE BUTTONS OF THE MANUE BAR IN THE LEFT SECTION */
button {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    height: 45px;
    padding: 5px;
    padding-left: 45px;
    align-items: center;
    justify-content: left;
    background-color: transparent;
    outline: transparent;
    border: transparent;
}

.icon {
    filter: invert(100%) sepia(43%) saturate(2%) hue-rotate(315deg) brightness(107%) contrast(101%);
    display: flex;
    align-items: center;
    justify-content: left;
}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-weight: normal;
    color: white;
}

.P-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: auto;
}

.Profile {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    padding: 5px;
    padding-left: 50px;
    align-items: center;
    justify-content: left;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 51px;
    height: 51px;
    border: dotted rgb(213, 213, 213);
    border-width: 2px;
    border-radius: 200px;
}

.name-email {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: left;
    justify-content: center;
}

.profile-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.profile-email {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: white;
}

/* Created hover effect for the left section of the website */
.button:hover {
    background-color: #02840f;
    cursor: pointer;
}
.profile-picture:hover {
    cursor: pointer;
}
.profile-name:hover {
    cursor: pointer;
}



/* Styling for the Middle Section of the Website */
#middle-section {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    border: 1px solid #9D9D9D;

}

.card-header {
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-left: 30px;
    align-items: center;
    width: auto;
    height: 10%;
    border: 1px solid #9D9D9D;
    background-color: #D1D1D1;
}

.card-list {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.P-filter-add {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
}

.filter-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 15%;
    gap: 0px;
    padding: 0px;
    border: 1px solid #9D9D9D;
    background-color: #D1D1D1;
}

.card-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding-left: 25px;
    width: 60%;
    height: 100%;
}

.card-child-1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: auto;
    gap: 0px;
    padding-top: 10px;
}

.card-child-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
    align-items: center;
    justify-content: left;
}

.card-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
}

.card-status {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
    margin-top: -3px;
}

.bullet-point {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 200px;
}

.status {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: black;
}

.issued-access {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: black;
}

.access {
    width: 8px;
    height: 9px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    color: black;
    background-color: #D1D1D1;
    box-shadow: 0px 2px 4px #6C6A6A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
}

.card-pic {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    width: 35%;
    height: 100%;
}

.main-card {
    width: 100%;
    height: 60%;
    background-color: white;
    border: 1px solid #9D9D9D;
    box-shadow: 0px 3px 6px #797979;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    justify-content: left;
}

.gradiant {
    display: flex;
    width: 100%;
    height: 25px;
    background: linear-gradient(90deg, #D1D1D1, white);
}

.card-code {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: black;
    padding-left: 15px;
}
/* creating hover effect over the card */
.card:hover {
    background-color: #03351C;
    cursor: pointer;
}
.card:hover .card-title {
    color: white;
    cursor: pointer;
}
.card:hover .bullet-point {
    background-color: white;
    cursor: pointer;
}
.card:hover .status {
    color: white;
    cursor: pointer;
}
.card:hover .issued-access {
    color: white;
    cursor: pointer;
}
.card:hover .access {
    background-color: #D1D1D1;
    color: #03351C;
    cursor: pointer;
}
.card:hover .main-card {
    background-color: #3E7665;
}
.card:hover .gradiant {
    background: linear-gradient(90deg, #024A33, #3E7665);
}
.card:hover .card-code {
    color: white;
}



/* Styling for the Right Section of the Website */
#right-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    height: auto;
    border: solid green;
    padding: 15px;
}

.p-right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10%;
    border: 1px solid black;
}

.icon-software-subscription {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
    width: 70%;
    height: 100%;
}

.p-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    height: 60%;
    background-color: #006003;
}

.layer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
    background-color: #EEFFF1;
}

.software-subscription-text {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 100%;
}

.manage-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 30%;
    height: 100%;
}

.p-manage-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 40px;
    width: 70%;
    height: 45%;
    border: 1px solid #707070;
}

.manage-text {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 3px;
    height: 100%;
    padding-right: 10px;
}


/* Styling code for Card Information section of the right section of the website */
.p-card-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 135px;
    width: 100%;
    height: 10%;
    border: 1px solid black;
}

.p-text-number {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
    justify-content: center;
    width: auto;
    height: 100%;
}

.p-text-expiry-date {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
    justify-content: center;
    width: auto;
    height: 100%;
}

.p-text-cvc-eye {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
    justify-content: center;
    width: auto;
    height: 100%;
}

.cvc-eye {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.p-text-status {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: right;
    justify-content: center;
    width: auto;
    height: 100%;
}

.text-1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #8B8B8B;
}

.text-2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

/* Created hover effects for right section of the website */
.p-manage-option:hover {
    background-color: #e9e9e9;
    cursor: pointer;
}

.eye:hover {
    cursor: pointer;
}



/* Styling code for Spending Limits section of the right section of the website */
.p-spending-limits {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    border: 1px solid black;
}

.title-daily-transaction-limit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 15px;
    width: 65%;
    height: 100%;

}

.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    width: 100%;
}

.transaction-limit-bar-spent {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 70%;
}

.transaction-limit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #8B8B8B;
}

.p-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 15px;
    background-color: #BBCABC;
}

.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 10%;
    height: 100%;
    background-color: #006003;
}

.spent-percentage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: auto;
}

.spent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #006003;
}

.percentage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 50%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #006003;
}


.text-estimated-amount-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 33%;
    height: 100%;
    border: 1px solid black;
}




/* Styling code for the Issued Access section of the right section of the website */
.p-issued-access {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 30%;
    border: 1px solid black;
}



/* Styling code for the Recent Transaction section of the right section of the website */
.p-recent-transaction {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 30%;
    border: 1px solid black;
}